@model Exame.Web.Models.MovimentoView

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Criar novo movimento</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Movimento</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.Mes, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Mes, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Mes, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Ano, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Ano, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Ano, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.CodigoProduto, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.CodigoProduto, (SelectList)ViewBag.Produtos, "Selecione um Produto", new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.CodigoProduto, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.CodigoCosif, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.CodigoCosif, new SelectList(Enumerable.Empty<SelectListItem>()), "Selecione um produto primeiro", new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.CodigoCosif, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Valor, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Valor, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Valor, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Descricao, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Descricao, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Descricao, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Incluir" class="btn btn-default" />
                <input type="button" value="Limpar" class="btn btn-default" id="limpar" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Voltar para lista", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

    <script type="text/javascript">
        $('#CodigoProduto').change(function () {
            var produto = $('#CodigoProduto');
            var cosif = $('#CodigoCosif');
            if (produto.val() != "") {
                $.ajax({
                    url: "@Url.Action("getCosifs","Movimento")",
                    data: { "codigoProduto": produto.val() },
                    dataType: "json",
                    type: "GET",
                    error: function () {
                        alert("Ocorreu um erro");
                        cosif.empty();
                    },
                    success: function (data) {
                        cosif.empty();

                        $.each(data, function (i) {
                            var option = '<option value="' + data[i].Value + '">' + data[i].Text + '</option>';
                            cosif.append(option);
                        });
                    }
                });
            } else {
                alert("Selecione um produto");
                cosif.val("");
            }
        });

        $('#limpar').click(function () {
            $('#Mes').val('');
            $('#Ano').val('');
            $('#Valor').val('');
            $('#Descricao').val('');
        });
    </script>
}
